.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 1rem;
}

.card-list__title {
  grid-column: 1 / -1;
  color: rgb(230, 230, 230);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}

.card-list__loader {
  grid-column: 1 / -1;
  color: rgb(230, 230, 230);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}
